<div class="container">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-10">
        <h4><b>Flight Details</b></h4>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Flight Number</th>
        <th>Airline Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flight of allFlights" >
          <td><b>{{flight.FlightNumber}}</b></td>
          <td><b>{{flight.Airlines}}</b></td>
          <td>​​​​​​​​{{flight.Source}}</td>
         <td>{{flight.Destination}}</td>
         <td>{{flight.DepartureTime}} <i class="fas fa-plane-departure" aria-hidden="true"></i></td>
          <td><i class="fas fa-plane-arrival" aria-hidden="true"></i> {{flight.ArrivalTime}}</td>
          <td (click)="showFlight(flight)"><button class="btn btn-primary btn-sm">View Flight</button>&nbsp;
            <button type="button" class="btn btn-primary btn-sm" routerLink="/in-flight">In Flight</button> </td>
        </tr>
    </tbody>
  </table>
</div>